:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #add8e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}

.searchInput {
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  border-color: gold;
}

.textFont {
  font-family:'Courier New', Courier, monospace;
}

.quoteBox {
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  color: blue;
}